.day_of_the_42_div
{
    display: flex;
    justify-content: left;
    border-radius: 10px;
    background-color: rgb(146, 144, 148); 
    margin-top: 2%;
    margin-left: 16%;
    margin-right: 16%;
    padding-left: 2.5%;
    box-shadow: 10px 10px 5px black;
}

.day_of_the_42_img
{
    display: flex;
    justify-content: right;
    border-radius: 10px;
    width: 200px;
    height: 140px;
}

.main_div
{
    display: flex;
    justify-content: center;
}

.cluster_div
{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(146, 144, 148); 
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    height: 750px;
    box-shadow: 10px 10px 5px black;
}

.cluster_img
{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.left_div
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(146, 144, 148); 
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 0%;
    height: 600px;
    box-shadow: 10px 10px 5px black;
}

.img_left
{
    display: block;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.right_div
{
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(146, 144, 148); 
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 10%;
    height: 600px;
    box-shadow: 10px 10px 5px black;
}

.img_right
{
    display: block;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.green_box
{
    position: absolute;
    left: 19%;
    bottom: 16%;
    width: 550px;
    height: 200px;
    font-size: 20px;
    padding-left: 1%;
    border-radius: 10px;
    background-color: rgb(114, 218, 114); 
    box-shadow: 10px 10px 5px black;
}

.green_boxx
{
    position: absolute;
    left: 19%;
    bottom: 16%;
    width: 550px;
    height: 200px;
	font-size: 30px;
	font-family: monospace;
    padding-left: 1%;
    border-radius: 10px;
    background-color: rgb(114, 218, 114); 
    box-shadow: 10px 10px 5px black;
}

.one
{
	display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
	margin-bottom: 1%;
	width: 81vh;
	height: 55vh;
}

.two
{
	display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
	margin-bottom: 1%;
	width: 81vh;
	height: 55vh;
}

.three
{
	display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
	margin-bottom: 1%;
	width: 81vh;
	height: 55vh;
}

.four
{
	display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
	margin-bottom: 1%;
	width: 81vh;
	height: 55vh;
}

.five
{
	display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
	margin-bottom: 1%;
	width: 81vh;
	height: 55vh;
}