.basket 
{
	text-align: center;
	font-size: 28 px;
	color: blue;
	text-align:center;
	width: 7 vmin;
	display: flex;
	flex-direction: row;
	font-style: italic;
	font-family: 'Courier New', Courier, monospace;
}

.legend
{
	text-align: center;
	font-size: 28 px;
	color: blue;

}