.basketbar
{
	display:flex;
	flex-direction: column;
	width: 5vw;
	margin-top: 2em;
	margin-left: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}

.basketbar_foreach
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.15em;
	width: 10vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}

.basketbar_title
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 10vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
	color: whitesmoke;
}

.basketbar_title:hover
{
	background-color:rgb(27, 173, 27);
}

.basketbar_foreach:hover
{
	background-color:rgb(27, 173, 27);
}
