.sidebar
{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 10vw;
	margin-top: 2em;
	margin-left: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}

.sidebar_foreach
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.15em;
	width: 8 vw;
	color: white;
	font-style: italic;
	font-size: 1vw;
	background-color: #234C42;
	border-radius: 1em;
}

.sidebar_title
{
	display:flex;
	flex-direction: column;
	align-content: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	width: 8vw;
	color: white;
	font-size: 1.2vw;
	background-color: #234C42;
	border-radius: 1em;
	color: whitesmoke;
}

.sidebar_title:hover
{
	background-color:rgb(112, 112, 112);
}

.sidebar_foreach:hover
{
	background-color:rgb(27, 173, 27);
}
