.big_div
{
	display:flex;
	flex-direction: row;
	overflow:scroll;
	
	height:100vh;
}

.sidebar
{
	display:flex;
	flex-direction: column;
	width: 5vw;
	margin-top: 2em;
	margin-left: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 2em;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}

.sidebar_foreach
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1.15em;
	width: 10vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}

.sidebar_title
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 10vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
	color: whitesmoke;
}

.sidebar_title:hover
{
	background-color:rgb(27, 173, 27);
}

.sidebar_foreach:hover
{
	background-color:rgb(27, 173, 27);
}

.mainbar
{
	display:flex;
	flex-direction: column;
	height:150vh;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1.15em;
	width: 130vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
}


.mainbar_title
{
	display:flex;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 45em;
	padding-right: 45em;
	width: 10vh;
	color: white;
	font-size: 20px;
	background-color: #333;
	border-radius: 1em;
	color: whitesmoke;
}

.footer 
{
	display: flex;
	align-items: baseline;
	font-size: 12px;
	margin-left: 2px;
	margin-top: 100em;
	margin-bottom: 0em;
}


.flex-container 
{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}
  
.flex-item 
{
	background: tomato;
	padding: 5px;
	width: 200px;
	height: 150px;
	margin-top: 10px;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
  }